.dialog-add-flashcard{
    h1 {
        margin-top: 24px;
        margin-bottom: 16px;
    };
    form {
        display: flex;
        align-items: center;
        gap: 16px;
        flex-direction: column;
    }
    input {
        outline: none;
        padding: 4px 8px;
        border-radius: 8px;
        border: 1px solid grey;
    }
    button[type="submit"] {
        background-color: rgb(138, 162, 216);
        color: white;
        padding: 4px 8px;
        width: fit-content;
        border-radius: 8px;
    }

    button[type="submit"]:hover {
        background-color: rgb(175, 190, 227);
    }
}